* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.pair:nth-child(odd) {
    flex-direction: row;
}

.pair:nth-child(even) {
    flex-direction: row-reverse;
}

.image-container, .text-container {
    flex: 1;
    margin: 5px; /* Decrease this value to reduce space */
}

.image-container img {
    border: 2px solid black;
    max-width: 800px;
    margin: 5px 0; /* Decrease this value to reduce space */
}

h2 {
    margin-top: 0;
}

.text-container {
    max-width: 800px;
    padding: 20px;
    text-align: justify;
    overflow: auto;
}

.text-container img {
    display: block;
    margin: 5px 0; /* Decrease this value to reduce space */
    max-width: 100%;
    height: auto;
    float: left;
}

.pair:nth-child(even) .text-container img {
    float: right;
}
