* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

img {
    display: block;
    border: 2px solid black;
    max-width: 800px;
    margin: 0px 0; /* Set this value to 0px to eliminate space */
}

.img-left {
    float: left;
}

.img-right {
    float: right;
}

h1 {
    max-width: 800px;
    padding: 20px;
    text-align: justify;
    overflow: auto;
    margin: 0px; /* Set this value to 0px to eliminate space */
}
